{% extends 'base.html.twig' %}

{% block title %}PanierLine index{% endblock %}

{% block body %}
    <h1>PanierLine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier_line in panier_lines %}
            <tr>
                <td>{{ panier_line.id }}</td>
                <td>{{ panier_line.quantite }}</td>
                <td>
                    <a href="{{ path('panier_line_show', {'id': panier_line.id}) }}">show</a>
                    <a href="{{ path('panier_line_edit', {'id': panier_line.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('panier_line_new') }}">Create new</a>
{% endblock %}
