{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>

    <form action="/produit/{{produit.id}}/edit" method="POST">

        <p>
            <label for="nom">Nom </label>
            <input type="text" name="nom" value="{{ produit.nom }}">
        </p>

        <p>
            <label for="interprete">Interprète </label>
            <input type="text" name="interprete" value="{{produit.interprete}}">
        </p>

        <p>
            <label for="prix">Prix unitaire </label>
            <input  type="number" step="0.01" name="prix" value={{produit.PrixUnitaire}}>
        </p>

        <p>
            <label for="disponibilite">Disponibilité</label>
            <input type="checkbox" name="disponibilite" value="dispo" checked>
        </p>

        <p>
            <label for="description">Description </label>
            <textarea name="description" rows="12" cols="100" > "{{produit.description }}"</textarea>
        </p>

        <p>
            <label for="code_postal">Catégorie </label>
            <select name="type_categorie">
                {% for categorie in categories %}
                    {% if categorie.nom == produit.TypeCategorie.nom %}
                        <option value={{ categorie.id }} selected>{{ categorie.nom }}</option>
                    {% else %}
                        <option value={{ categorie.id }}>{{ categorie.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="source">Source de l'image </label>
            <input type="text" name="source_{{produit.media.id}}" value="{{produit.media.source}}">
        </p>

        <p>
            <label for="alt">Texte alternatif de l'image </label>
            <input type="text" name="alt_{{produit.media.id}}" value="{{produit.media.alt}}">
        </p>

        <input type="submit" value="Save"/>

    </form>

    <a href="{{ path('produit_index') }}">back to list</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
