{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="/css/admin_all_products.css" />
{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix_unitaire</th>
                <th>Disponibilite</th>
                <th>Type categorie </th>
                <th>Interprète </th>
                <th>Source des medias </th>
                <th>Texte alternatif du media </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prixUnitaire }} €</td>
                <td>{{ produit.disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ produit.TypeCategorie }}</td>
                <td>{{ produit.interprete }}</td>

                <td class="media_source"><a href="{{produit.media.source}}">{{produit.media.source}}</a></td>

                <td>{{produit.media.alt}}</td>
                
                <td class="action_cell">
                    <div class="action_div">
                        <a href="{{ path('produit_show', {'id': produit.id}) }}" >show</a>
                        <a href="{{ path('produit_edit', {'id': produit.id}) }}" >edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div id="lien_creation">
        <a href="{{ path('produit_new') }}">Create new</a>
    </div>
{% endblock %}
