{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/product.css" >
{% endblock %}

{% block body %}

    <div id="block_produit">

        <div id="photo">
            {% for media in produit.media %}
                <img src={{ media.source }} alt={{media.alt}} class="img_produits"/>
            {% endfor %}
        </div>

        <div id="description">

            <h2>{{ produit.nom }}</h2>
            <p id="prix">{{ produit.prixUnitaire }} €</p>
            <p>{{ produit.description2}}</p>

            <button><a href="/panier/add?id_produit={{produit.id}}">Ajouter au panier </a></button>

        </div>

    </div>
{% endblock %}
