{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="/commande/show/{{ commande.id }}"> Commande n°{{ commande.id }} </a></td>
                <td>{{ commande.date ? commande.date|date('d/m/Y') : '' }}</td>

                {% set montant = 0 %}

                {% for commandeline in commande.commandeLines %}

                    {% set montant = montant + (commandeline.IdProduit.prixUnitaire * commandeline.quantite) %}

                {% endfor %}

                <td> Montant de la commande : {{ montant }} € </td>

            </tr>

        {% endfor %}


        </tbody>
    </table>

    <p>{{ user.Adresses[0].adresse }} </p>
    <p>{{ user.Adresses[0].CodePostal }} </p>
    <p>{{ user.Adresses[0].ville }} </p>

{% endblock %}
