<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/base.css" >
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>

        <div id="bandeau">
            <h1><a href="/user" class="link"><img src="/images/music_note.png" alt="logo" id="logo"/> Music shop </a></h1>

            <div id="gestion_user">
                {% if app.session.get('username') %}
                    {% if is_granted('ROLE_ADMIN') %}
                            <a href="/categorie/new/">Categories</a>
                            <a href="/produit/new/">Produit</a>
                    {% endif %}
                    <a href="/commande" class="link_menu"> {{ app.session.get('username') }} </a>
                    <a href="/panier"  class="link_menu"> Panier </a>
                    <a href="/user/deconnexion" class="link_menu"> Déconnexion </a>

                {% else %}
                    <a href="/user/new" class="link_menu">Créer un compte </a>
                    <a href="/panier"  class="link_menu"> Panier </a>
                    <a href="/login" class="link_menu"> Connexion </a>

                {% endif %}
            </div>
        </div>

        <div id="categories_menu">
            <ul id="menu">
                {% for categorie in categories %}
                    <li class="item_menu"><a href="/categorie/{{categorie.id}}" class="link"> {{ categorie.nom }} </a></li>
                {% else %}
                    <li> Aucune catégorie </li>
                {% endfor %}
            </ul>
        </div>

    </header>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
