{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/all_products.css" >
{% endblock %}

{% block body %}
    <div id="presente_produits">
        {% for produit in produits %}

            <div class="produits">
                <p><a href="/produit/{{produit.id}}"><img src={{ produit.media.source }} alt={{produit.media.alt}} class="img_produits"/></a> </p>
                <p>{{ produit.nom }}</p>
                <p>{{ produit.interprete }}</p>
                <p>{{ produit.prixUnitaire }} €</p>
                <p>{{ produit.TypeCategorie }}</p>

                <button><a href="/panier/add?id_produit={{produit.id}}">Ajouter au panier </a> </button>
            </div>

        {% else %}

            <p>Aucun produit n'est disponible dans cette catégorie </p>

        {% endfor %}
        
    </div>

{% endblock %}
